body {
  background: linear-gradient(201.91deg, #bd285a -60%, #3e078c 45%);
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animContainer {
  width: 70%;
  height: auto;
  min-width: 120px;
  transition: all 600ms ease-out;
}

@media (max-width: 450px) {
  #animContainer {
    width: 100%;
  }
}
